<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<div class="clear"></div>
</div>
</div>
<script type="text/javascript">
	var style_node = document.getElementsByTagName("style")[0];
	style_node.innerText = style_node.innerText.replace("line-height: 1.5;", "");
</script>
<p class="luci">
	<% local ver = require "luci.version" -%>
	Powered by <%= ver.luciname %> (<%= ver.luciversion %>)
</p>
</body>
</html>
